#header {
  margin: auto;
  width: 70%;
}

#scroller {
  font-size: 3em;
  display: flex;
  justify-content: space-evenly;
}

#scroller :nth-child(2) {
  margin: auto;
  font-size: .7em;
  font-weight: bolder;
}
