@import "./toggleswitch.css";

.menu-container {
  background-color: rgb(184, 171, 236);
  width: 100%;
}

table {
  width: 100%;
}

table:not(#initial-table) {
  background-color: black;
  border: 2px solid;
}

td {
  padding: 15px;
}

.multi-variant {
  padding-left: 5vw;
}

.item-name {
  display: flex;
  justify-content: space-between;
}

.availability-ratio {
  margin-left: 2vw;
  font-style: normal;
  font-size: smaller;
  color: rgb(218, 67, 62);

}

.availability-toggle {
  font-weight: bolder;
}

.variant-name {
  margin-left: 8vw;
}

.solo-variant {
  margin-left: unset;
}

#edit-switch img {
  height: 4vh;
}

.void-item {
  opacity: .20;
  background-color: rgb(140, 140, 176);
}
