@import "./toggleswitch.css";
@import "./schedule_setter.css";

.menu-container {
  background-color: antiquewhite;
  width: 100%;
}

table {
  width: 100%;
}

td {
  padding: 15px;
}

.item-name {
  display: flex;
  justify-content: space-between;
}

.availability-ratio {
  margin-left: 2vw;
  font-style: normal;
  font-size: smaller;
  color: rgb(218, 67, 62);

}

.availability-toggle {
  font-weight: bolder;
}

.variant-name {
  margin-left: 8vw;
}

.solo-variant {
  margin-left: unset;
}

#edit-switch img {
  height: 4vh;
}
