@font-face {
  font-family: 'Brand';
  src:
    url('../../../assets/fonts/Allura-Regular.ttf'),
    url('../../../assets/fonts/Pacifico-Regular.ttf'),
    url('../../../assets/fonts/EBGaramond-VariableFont_wght.ttf'),
    url('../../../assets/fonts/EBGaramond-Italic-VariableFont_wght.ttf');
  font-weight: normal;
  font-style: normal;
}

#preview-brand {
  background-image: linear-gradient(to top left, antiquewhite, rgb(253, 152, 0));
  position: relative;
  background-color: burlywood;
  text-align: center;
  align-content: center;
}

#preview-brand h5 {
  font-family: 'Brand';
  font-size: xx-large;
  font-weight: bolder;
  color: green;
}

#print-button {
  position: absolute;
  height: 3em;
  width: 3em;
  top: 0;
  left: 0;
}
