@font-face {
  font-family: 'Brand';
  src:
    url('../../../assets/fonts/Allura-Regular.ttf'),
    url('../../../assets/fonts/Pacifico-Regular.ttf'),
    url('../../../assets/fonts/EBGaramond-VariableFont_wght.ttf'),
    url('../../../assets/fonts/EBGaramond-Italic-VariableFont_wght.ttf');
  font-weight: normal;
  font-style: normal;
}

#preview-brand {
  background-image: linear-gradient(to top left, rgb(238, 148, 14), rgb(248, 227, 201));
  position: relative;
  text-align: center;
  align-content: center;
  box-shadow: 0 4px 15px -5px black;
}

.brand-corners {
  position: absolute;
  height: 70%;
  width: auto;
}

#corner-left {
  transform: scale(-1, -1);
  top: 0;
  left: 0;
}

#corner-right {
  bottom: 0;
  right: 0;
}

#preview-brand h5 {
  font-family: 'Brand';
  font-size: xx-large;
  font-weight: bolder;
  color: green;
}

#print-button {
  position: absolute;
  height: 3em;
  width: 3em;
  top: 0;
  left: 0;
}
