@import "./brand.css";
@import "./items.css";
@import "./images.css";

.preview-content {
  margin: auto;
  width: 100%;
  height: fit-content;
  box-sizing: content-box;
  border: 2px solid green;
  display: grid;
  grid-template-columns: 57% 43%;
}
