@import "./brand.css";
@import "./items.css";
@import "./images.css";

.preview-content {
  background-image: linear-gradient(to top right, #90CF44, #59B512);
  margin: auto;
  width: 97vw;
  height: fit-content;
  box-sizing: content-box;
  border: 2px solid green;
  display: grid;
  grid-template-columns: 57vw 40vw;
}
