#preview-images {
  background-color: green;
  display: grid;
  grid-template-rows: 2fr repeat(3, 1fr) 3fr;
  gap: .40em;
}

#preview-images div {
  border: 1px solid black;
  background-position: center;
  background-size:cover;
}

.image-double {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* GROUP 1 */
#preview-image-large-a1 {
  background-image: url('../../../assets/images/menu_group3/variety_pasta.jpg');
}

#preview-image-large-b1 {
  background-image: url('../../../assets/images/menu_group1/chicken_wings.jpg');
}

#preview-image-single-a1 {
  background-image: url('../../../assets/images/menu_group1/breaded_prokchop_with_veggies.jpg');
}

#preview-image-double-a1 {
  background-image: url('../../../assets/images/menu_group1/chaofan_with_fried_siomai.jpg');
}

#preview-image-double-b1 {
  background-image: url('../../../assets/images/menu_group1/chaofan_with_shanghai.jpg');
}

#preview-image-double-c1 {
  background-image: url('../../../assets/images/menu_group1/rice_bowl_with_fried_siomai.jpg');
}

#preview-image-double-d1 {
  background-image: url('../../../assets/images/menu_group1/rice_bowl_with_shanghai.jpg');
}

/* GROUP 2 */
#preview-image-large-a2 {

}

#preview-image-large-b2 {

}

#preview-image-single-a2 {

}

#preview-image-double-a2 {

}

#preview-image-double-b2 {

}

#preview-image-double-c2 {

}

#preview-image-double-d2 {

}

/* GROUP 3 */
#preview-image-large-a3 {

}

#preview-image-large-b3 {

}

#preview-image-single-a3 {

}

#preview-image-single-b3 {

}

#preview-image-double-a3 {

}

#preview-image-double-c3 {

}

#preview-image-double-d3 {

}
