#preview-images {
  padding: .35em;

  background-color: rgb(226, 43, 150);
  display: grid;
  grid-template-rows: 2fr repeat(3, 1fr) 2fr 1fr;
  gap: .40em;
}

#preview-images div {
  border: 1px solid black;
}

.image-double {
  display: grid;
   grid-template-columns: repeat(2, 1fr);
}

/* GROUP 1 */
#preview-image-large-a1 {

}

#preview-image-large-b1 {

}

#preview-image-single-a1 {

}

#preview-image-single-b1 {

}

#preview-image-double-a1 {

}

#preview-image-double-b1 {

}

#preview-image-double-c1 {

}

#preview-image-double-d1 {

}

/* GROUP 2 */
#preview-image-large-a2 {

}

#preview-image-large-b2 {

}

#preview-image-single-a2 {

}

#preview-image-single-b2 {

}

#preview-image-double-a2 {

}

#preview-image-double-b2 {

}

#preview-image-double-c2 {

}

#preview-image-double-d2 {

}

/* GROUP 3 */
#preview-image-large-a3 {

}

#preview-image-large-b3 {

}

#preview-image-single-a3 {

}

#preview-image-single-b3 {

}

#preview-image-double-a3 {

}

#preview-image-double-b3 {

}

#preview-image-double-c3 {

}

#preview-image-double-d3 {

}
