#preview-left {
  min-height: 50vh;
  max-height: max-content;
  display: grid;
  grid-template-rows: 12vh auto;
}

.preview-items {
  display: grid;
  font-size: .60em;
  font-weight: bold;
  grid-template-rows: auto;
  gap: 5px;
  padding: 0 2vw 3vh ;
  /*height: 72vh;   adjusts the height of the menu prices */
}

.preview-items h2 {
  height: 4vh;
  align-content: end;
}

.preview-category {
  margin-top: 10px;
}

.preview-variant {
  padding: 0 2vw;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.variant-schedule {
  border: 2px solid maroon;

  border-radius: 3px;
  padding: 0 4px;
  font-size: smaller;
  font-weight: bolder;
  margin-left: 5px;
  background-image: linear-gradient(to top left, rgb(238, 148, 14), rgb(248, 227, 201));
}

.preview-variant > :nth-child(2) {
  margin-left: auto;
}