@font-face {
  font-family: 'Menu Header';
  src:
  url('../../../assets/fonts/ClickerScript-Regular.ttf'),
  url('../../../assets/fonts/Parisienne-Regular.ttf'),
  url('../../../assets/fonts/FleurDeLeah-Regular.ttf'),
    url('../../../assets/fonts/Pacifico-Regular.ttf'),
    url('../../../assets/fonts/EBGaramond-VariableFont_wght.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Category Header';
  src:
    url('../../../assets/fonts/Marcellus.ttf'),
    url('../../../assets/fonts/Playfair.ttf'),
    url('../../../assets/fonts/Honk.ttf'),
    url('../../../assets/fonts/Allura-Regular.ttf'),
    url('../../../assets/fonts/Pacifico-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Item Name';
  src:
    url('../../../assets/fonts/Prompt-Light.ttf'),
    url('../../../assets/fonts/Honk.ttf'),
    url('../../../assets/fonts/Allura-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

#preview-left {
  min-height: 50vh;
  max-height: max-content;
  display: grid;
  grid-template-rows: 12vh auto;
}

.preview-items {
  display: grid;
  font-family: 'Item Name';
  font-size: .60em;
  font-weight: bolder;
  color: #000000;
  grid-template-rows: auto;
  gap: 15px;
  padding: 3vh 2em;
  /*height: 72vh;   adjusts the height of the menu prices */
}
/* #9F2305 */
.preview-items h2 {
  font-family: 'Menu Header';
  font-size: 2.5em;
  height: 4vh;
  justify-self: center;
}

.preview-items h2 span {
  font-style: normal;
  font-size: .50em;
}

.preview-category {
  font-family: 'Category Header';
  font-size: 1.2em;
  width: fit-content;
  margin-top: 10px;
  color: #a20000;
}

.preview-variant {
  display: grid;
  grid-template-columns: .60fr 3fr .40fr;
}

.preview-variant-no-code {
  display: grid;
  grid-template-columns: 3fr .40fr;
}

.preview-variant :last-child,
.preview-variant-no-code :last-child {
  justify-self: end;
}

.variant-schedule {
  border: 2px solid maroon;
  border-radius: 3px;
  padding: 0 4px;
  font-size: smaller;
  font-weight: bolder;
  margin-left: 5px;
  background-image: linear-gradient(to top left, rgb(238, 148, 14), rgb(248, 227, 201));
}

.preview-variant > :first-child,
.preview-variant-no-code > :nth-child(2) {
  margin-left: 10px;
}
