#preview-left {
  min-height: 50vh;
  max-height: max-content;
  display: grid;
  grid-template-rows: 12vh auto;
  background-image: linear-gradient(to top right,  rgb(253, 152, 0), green);
}

.preview-items {
  display: grid;
  font-size: .60em;
  grid-template-rows: auto;
  gap: 5px;
  padding: 0 2vw 3vh ;
  /*height: 72vh;   adjusts the height of the menu prices */
}

.preview-items h2 {
  height: 4vh;
  align-content: end;
}

.preview-category {
  margin-top: 10px;
}

.preview-variant {
  padding: 0 2vw;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.preview-variant > :nth-child(2) {
  margin-left: auto;
}