.preview-content {
  margin: auto;
  width: 97vw;
  height: fit-content;
  border: 1px solid rgb(20, 18, 18);
  display: grid;
  grid-template-columns: 75vw 44vw;
}

#preview-right {
  background-color: rgb(226, 43, 150);
}

#preview-brand {
  background-color: burlywood;
}

#print-button {
  position: absolute;
  height: 3em;
  width: 3em;
}

#preview-left {
  min-height: 50vh;
  max-height: max-content;
  display: grid;
  grid-template-rows: 12vh auto;
}

.preview-items {
  display: grid;
  font-size: .70em;
  grid-template-rows: auto;
  gap: 10px;
  padding: 0 2vw 3vh ;
}

.preview-items h2 {
  height: 4vh;
  align-content: end;
}

.preview-category {
  margin-top: 10px;
}

.preview-variant {
  padding: 0 2vw;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.preview-variant > :nth-child(2) {
  margin-left: auto;
}

