#preview-head {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}

#preview-head h2 {
  font-size: 2em;
  margin: auto;
  font-weight: bold;
}

#preview-head span {
  font-size: 1.7em;
  font-weight: bold;
}
