@import "./style/editor/editor.css";
@import "./style/editor/form.css";
@import "./style/preview/preview.css";
@import "./style/initial_view/initial.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
}

#root {
  width: 100vw;
  height: auto;
  padding: 5vh 0;
  align-content: center;
}

#container {
  margin: auto;
  width: 30em;
  max-width: 30em;
  grid-template-rows: auto auto;
}

#nav {
  height: 5vh;
  background-color: aquamarine;
}

.hidden {
  display: none;
}

#header {
  width: 100%;
  display: grid;
  grid-template-rows: 15vh auto;
}

#navigator {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}

#navigator h2 {
  font-size: 2em;
  margin: auto;
  font-weight: bold;
}

#navigator span {
  font-size: 1.7em;
  font-weight: bold;
}

/* display/hide scrollers */
.scroller {
  display: none;
}
